<div class="container">
    <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
        <div class="mb-3">
          <label for="exampleInputusername1" class="form-label">Username</label>
          <input ngModel name="username"   class="form-control" id="exampleInputusername1" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input ngModel name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>