<div class="container">
    <div class="row">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" class="col-md-12">
            <div  class="card">
                <div class="card-body">
                    <div  class="timeline" id="content">
                            
                            @if (this.roadmap != null) {
                                @for (milestone of getRoadmapMilestone(); track $index) {
                                  <div cdkDrag  class="example-box" class="milestone-wrapper">
                                    <div class="example-handle" cdkDragHandle>
                                      <i class="material-icons">=</i>
                                    </div>
                                    <app-edit-and-delete-menu (editEvent)="setEditionValues(milestone)" (deleteEvent)="deleteMilestone(milestone)" class="edit-menu" ></app-edit-and-delete-menu>
                                    <div class="event clickable" (click)="setSelectedMilestone(milestone)"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                        <h3>{{milestone.name}}</h3>
                                        <p>{{milestone.content}}</p> 
                                    </div>
                                    <hr class="hr hr-blurry" />
                                  </div>
                                } @empty {
                                  <div class="no-data-container">
                                    <img src="../../assets/svg/teach.svg" width="300px" alt="Centered Image">
                                    <br>
                                    <br>
                                    <h2>Añade Milestones</h2>
                                  </div>
                                  }
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add-button-container">
    <button  type="button" (click)="setCreationValues()" class="btn btn-primary add-button" data-bs-toggle="modal" data-bs-target="#roadmapModal"><i class="fas fa-plus">+</i></button>
</div>


 <!-- Modal -->
 <div class="modal fade" id="roadmapModal" tabindex="-1" aria-labelledby="roadmapModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="roadmapModalLabel">Milestone</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


            <div class="container">
                <form #f="ngForm"  novalidate>
                    <div class="mb-3">
                      <label for="titleInput" class="form-label">Title</label>
                      <input [(ngModel)]="selectedMilestone.name" name="title"  class="form-control" id="titleInput" aria-describedby="usernameHelp">
                    </div>

                <div class="form-group">
                    <label for="formControlTextarea">Content</label>
                    <textarea [(ngModel)]="selectedMilestone.content" name="description" class="form-control" id="formControlTextarea" rows="3"></textarea>
                  </div>
                </form>
            </div>

            <!-- <app-task-creator #taskCreator (tasklistReorder)="reorderTaskList($event)" (taskAddedToList)="updateTaskList($event)"></app-task-creator> -->
            <app-task-creator #taskCreator  (taskOrdersHaveChanged)="reorderTaskList($event)"  (taskAddedToList)="updateTaskList($event)"></app-task-creator>

        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="performAction()" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">{{selectedMilestone.name}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>{{selectedMilestone.content}}</p>

                      <ul class="list-group mb-0">

                        @for (task of selectedMilestone.tasks; track $index) {
                            <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                            style="background-color: #f4f6f7;">
                            @if (task.complete) {
                                <input class="form-check-input me-2" type="checkbox" value="" (change)="changeTaskState(false,task)" aria-label="..." checked />
                                <s>{{task.name}}</s>
                            } @else {
                                <input class="form-check-input me-2" type="checkbox" (change)="changeTaskState(true,task)" value="" aria-label="..." />
                                {{task.name}}
                            }
                            </li>
                        }

                      </ul>
                   
  </div>
</div>
