<div class="add-button-container">
    <button  type="button" class="btn btn-primary add-button" data-bs-toggle="modal" data-bs-target="#roadmapModal"><i class="fas fa-plus">+</i></button>
    @if (getRoadmapsLenght() != 0) {
      <mat-grid-list cols="10" rowHeight="2:1">
        @for (roamap of rodmaps;track roamap) {

          <mat-grid-tile>
          <a [href]="'/roadmap/' + roamap.getId()">
            <div class="grid-item">
                 <p class="text">{{roamap.getName()}}</p>
            </div>
          </a>
          </mat-grid-tile>
          }
      </mat-grid-list>
    }

    
</div>

  <!-- Modal -->
  <div class="modal fade" id="roadmapModal" tabindex="-1" aria-labelledby="roadmapModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="roadmapModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


            <div class="container">
                <form #f="ngForm"  novalidate>
                    <div class="mb-3">
                      <label for="titleInput" class="form-label">Title</label>
                      <input ngModel name="title"  class="form-control" id="titleInput" aria-describedby="usernameHelp">
                    </div>

                <div class="form-group">
                    <label for="formControlTextarea">Description</label>
                    <textarea ngModel name="description" class="form-control" id="formControlTextarea" rows="3"></textarea>
                  </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal" data-bs-dismiss="modal" (click)="createRoadmap(f)" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>